.swiper-pagination-bullet {
    background-color: #fff !important;
    width: 15px !important;
    height: 15px !important;
    opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
    background-color: #4f46e5 !important;
    opacity: 1 !important;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #1f2937;
}

.swal-modal {
    background-color: #09090b;
    border: 3px solid #818cf8;
}

.swal-title {
    /*font-size: 16px;*/
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);*/
    color: white;
}

.swal-button--confirm {
    padding: 8px 20px;
    border-radius: 2px;
    background-color: #6366f1;
    font-size: 16px;
    border: 1px solid #6366f1;
}

.swal-button--confirm:hover {

}
