@font-face {
    font-family: 'IRANSans';
    src: url('./fonts/IRANSans/IRANSans.ttf') format("truetype");
}

* {
    outline: none !important;
    margin: 0;
    padding: 0;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
    width: 15px !important;
    height: 15px !important;
    opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
    background-color: #4f46e5 !important;
    opacity: 1 !important;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #1f2937;
}

.swal2-modal {
    background-color: #09090b;
    border: 2px solid #4f46e5;
}

.swal2-title {
    color: white;
    /*font-family: 'IRANSans';*/
}

.swal2-info {
    border-color: #4f46e5 !important;
    color: #4f46e5 !important;
}

.swal2-confirm {
    background-color: #4f46e5;
    padding: 8px 20px;
    color: #fff;
}

.swal2-shown {
    padding: 0 !important;
    overflow: auto !important;
}
